body {
  font-family: Papyrus;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: mediumaquamarine;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navImg{
  height: 100px;
  width: 200px;
  padding-right: 20px;
}

.navBar{
  display: flex;
  /* justify-content: center; */
  align-items: center;

}

.back{
  text-decoration: underline;
  color: black;
}

.pokemonUl{
  display: flex;
  flex-wrap: wrap;
}

.pokemonLi{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pokemonLi a{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.singlePokemon {
  display:flex;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.singlePokemon img{
  /* border-radius: 60%; */
  opacity: .75;
  height: 200px;
  width: 200px;
}

.stats{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.howDes{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.howTo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.trainerDetails{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}


.trainerDetails img{
  /* border-radius: 20%; */
  opacity: .75;
  height: 400px;
  width: 250px;
  padding-right: 100px;
}

.trainerDetails form label{
  padding: 10px;
  padding-left: 0px;
}

.myBagPokemonUl{
  display: flex;
  flex-wrap: wrap;
}

.myBagPokemonLi{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.myBagPokemonLi a{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.battle{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.battleMyPokemon{
  padding: 20px;
}

.battleOpponentPokemon{
  padding: 20px;
}

.homeImg {
  /* border-radius: 20%; */
  opacity: .75;
  height: 150px;
  width: 150px;
}