body {
  font-family: Papyrus;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: mediumaquamarine;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
button{
  /* background-color: lightgray; */
  /* color: black; */
  /* border: lightgray; */
}

button:hover{
  color:mediumaquamarine
}


form div {
  margin: 1em;
  display: inline-block;
}

.navImg{
  height: 100px;
  width: 200px;
  padding-right: 20px;
}

.navBar{
  display: flex;
  /* justify-content: center; */
  align-items: center;

}

.back{
  text-decoration: underline;
  color: black;
}

.pokemonUl{
  display: flex;
  flex-wrap: wrap;
}

.pokemonLi{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pokemonLi a{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.singlePokemon {
  display:flex;
  /* flex-wrap: wrap; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
}

.singlePokemon img{
  /* border-radius: 60%; */
  opacity: .75;
  height: 200px;
  width: 200px;
}
.pokmonDetails{}

.singlePName{
  padding: 5px;
}

.singlePNum{
  padding: 5px;
}

.singlePType{
  padding: 5px;
}


.aboutMe{
  display:flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-right: 500px;
}

.stats{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
}

.howDes{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.howTo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.trainerDetails{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}


.trainerDetails img{
  /* border-radius: 20%; */
  opacity: .75;
  height: 400px;
  width: 250px;
  padding-right: 100px;
}

.trainerDetails form label{
  padding: 10px;
  padding-left: 0px;
}

.myBag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myBagPokemonUl{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.myBagPokemonLi{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.myBagPokemonLi a{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.battle{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.battleVs{
  padding-left: 30px;
  padding-right: 30px;
}
.battleStats{
  

}
.battleMyPokemon{
  padding: 20px;
}

.battleOpponentPokemon{
  padding: 20px;
}

.homeImg {
  /* border-radius: 20%; */
  opacity: .75;
  height: 150px;
  width: 150px;
}

.results{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.profile{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.profileDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.profile img{
  padding-right: 25px;
}

.sortFilterPokemon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort{
  display: flex;
  justify-content: center;
}

.sort a {
  padding: 20px;
}

.bagNoPokemon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

